{% extends "base.html" %}
{% block content %}

<h1>{{ header }}</h1>


<form method="post">
    {{ form.hidden_tag() }}

    <p id="autosave-status" class="autosave-status"></p>

    <input
        name="tags"
        placeholder="Tags, seperated by commas"
        value="{{ tags if tags is defined else '' }}"
    >
    {{ form.title(class="input", id="title-input") }}

    {{ form.content(class="textarea", id="markdown-input", rows=15) }}

    <div class="actions">
        {{ form.submit(class="btn") }}
        <a href="/dashboard" class="btn btn-secondary">Cancel</a>
    </div>
</form>
<div class="preview">
    <h3>Preview</h3>
    <div id="markdown-preview" class="preview-box"></div>
</div>

<script src=" {{ url_for('static', filename='js/autosave.js') }}"></script>
{% endblock %}
